APP_TAG=<APP_TAG>

ENV_FOR_DYNACONF=production

BOT_TOKEN=12345678:ADIRJfrJGGowPsadlpkvm1wAEqGdkYEewsrderg
BOT_ADMINS = 123456567 2345678

# Redis
REDIS_PASSWORD=<your_redis_password>
REDIS_HOST=redis

# PostgreSQL
POSTGRES_USER=superuser
POSTGRES_PASSWORD=<your_password>
POSTGRES_HOST=<your_host>
